@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #5030E5;
  --color-bg: #F5F5F5;
  --font-heading: "Nunito Sans", sans-serif;
  --font-body: "Work Sans", sans-serif;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotateStopGo {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(90deg); } 
  75%  { transform: rotate(180deg); }
  100% { transform: rotate(180deg); } 
}

.rotate-stop-go {
  animation: rotateStopGo 1s infinite;
}

.floating {
  animation: float 3s ease-in-out infinite;
}